
input[pInputText] {
  width: 300px;
  margin: 5px;
  border-radius: 6px;
  border-color: black;
}


h1{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
}
button{
  width: 200px;
  border-radius: 10px;
  background: linear-gradient(90deg, #551466,#000000);
  font-size: 20px;

}


.p-fluid{
  display: flex;
  flex-direction: column;
}

#name input, #link input{
  width: 700px;
}

.inputs{
  display: flex;
  flex-direction: row;
  gap: 90px;
}


#desc input{
  width: 700px;
  height: 100px;
}

#btn{
  display: flex;
  justify-content: center;
}






