<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="updateJob(f)">

    <div class="p-grid" >
      <div class="p-col-12">
        <h1>Atualizar vaga</h1>
      </div>

      <div class="inputs">
        <div class="p-col-12 p-md-6 p-fluid" id="title">
          <label>Título*</label>
          <input pInputText name="title" type="text"
          [(ngModel)]="job.title" #title="ngModel" required>
        </div>

        <div class="p-col-12 p-md-6 p-fluid" id="status">
          <label>Status*</label>
          <p-dropdown name="status"  [options]="statuses" placeholder="Selecione"
          [(ngModel)]="job.status" #status="ngModel" required=""></p-dropdown>
        </div>
      </div>

      <div class="inputs">
        <div class="p-col-12 p-md-6 p-fluid" id="level">
          <label>Nível*</label>
          <p-dropdown name="level"  [options]="levels" placeholder="Selecione"
          [(ngModel)]="job.level" #level="ngModel" required=""></p-dropdown>
        </div>


        <div class="p-col-12 p-md-6 p-fluid" id="model">
          <label>Modelo*</label>
          <p-dropdown name="model"  [options]="models" placeholder="Selecione"
          [(ngModel)]="job.model" #model="ngModel" required=""></p-dropdown>
        </div>
      </div>

    <div class="inputs">
      <div class="p-col-12 p-md-6 p-fluid" id="salary">
        <label>Salário*</label>
        <p-dropdown name="salary"  [options]="salaries" placeholder="Selecione"
        [(ngModel)]="job.salary" #salary="ngModel" required=""></p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid" id="jobArea">
        <label>Área*</label>
        <p-dropdown name="jobArea"  [options]="jobAreas" placeholder="Selecione"
        [(ngModel)]="job.jobArea" #jobArea="ngModel" required=""></p-dropdown>
      </div>
    </div>

    <div class="inputs">
      <div class="p-col-12 p-md-6 p-fluid" id="tecnology">
        <label>Tecnologias*</label>
        <p-dropdown name="tecnology"  [options]="tecnologies" placeholder="Selecione"
        [(ngModel)]="job.tecnology" #tecnology="ngModel" required=""></p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Localização*</label>
        <p-dropdown name="location"  [options]="locations" placeholder="Selecione"
        [(ngModel)]="job.location" #location="ngModel" required=""></p-dropdown>
      </div>
    </div>
  </div>

      <div class="p-col-12 p-md-6 p-fluid" id="desc">
        <label>Descrição da vaga*</label>
        <input pInputText name="description"
        [(ngModel)]="job.description" #description="ngModel" required>
      </div>


      <div id="btn">
        <div class="button-container">
          <button pButton type="submit" label="Atualizar" ></button>
        </div>
      </div>


  </form>
</div>
