<nav class="navbar">

  <a id ="workguru" href="/home">WorkGuru</a>
  <div id="buttons">
    <div>
      <button severity="info" (click)="login()">Login</button>
    </div>



    <ul class="navbar-menu" [hidden]="!displayingMenu">
      <li class="navbar-user">{{ auth.jwtPayload?.name }}</li>
      <li class="navbar-menuitem" routerLinkActive="active"
        *ngIf="auth.hasPermission('ROLE_SEARCH_JOB')">
        <a routerLink="/jobs">Vagas</a>
      </li>
      <li class="navbar-menuitem"><a href="#">Estatísticas</a></li>
      <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
    </ul>
    <div class="dropdown">
      <button class="dropbtn">Registrar</button>
      <div class="dropdown-content">
        <a href="#">Sou candidato</a>
        <a href="/enterprises/new">Sou empresa</a>
      </div>
    </div>
  </div>


</nav>
