<nav class="navbar">

  <div class="logo">
    <img src="assets/workguru-icon.png" alt="WorkGuru Logo">
    <a id ="workguru" href="/home">WorkGuru</a>
  </div>

  <div class="dropdown">
    <section class="dropdown-label">
      <p id="user">{{ auth.jwtPayload?.name }}</p>
      <img src="assets/arrow-down.svg" alt="Menu de Usuário">
      <div class="dropdown-content">
        <a href="">Meu Perfil</a>
        <a href="">Minhas Vagas</a>
        <a href="javascript:;" (click)="logout()">Sair</a>
      </div>
    </section>
  </div>

    




</nav>
