.navbar {
  background: linear-gradient(217deg, #17021c, #310935, #4b104d, #641766 70%),
              linear-gradient(127deg, #7e1e7e, #982697, #b22daf 70%),
              linear-gradient(336deg, #cb34c8, #e53be0, #ff42f9 70%);

  display: flex;
  justify-content: space-between;
}
h1{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
}
a{
  background-color: #3a3633;
}


.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  margin: 0;
  padding: 0;
  z-index: 9998;

  background-color: #3a3633;

  list-style: none;
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;

  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.navbar-menuitem {
  padding: 15px;
}

.navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: #fff;
}

.navbar-user {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;

  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.navbar-menuitem.active {
   background-color: #494541;
}


