/* You can add global styles to this file, and also import other style files */
body {background: linear-gradient(180deg, #551466,#000000);
              width: 100vw;
              height: 100vh;
}

button,a {
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: medium;
  padding: 10px 20px;
  margin: 0 10px;
}

