
input[pInputText], p-calendar, p-dropdown {
  width: 300px;
  margin: 5px;
  border: 1px solid #636363;
  border-radius: 6px;

}


h1{
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
}


.p-fluid{
  display: flex;
  flex-direction: column;
}

#name input, #email input{
  width: 700px;
}

#inputs-password-cpf, #inputs-tel-date, #inputs-gen-status{
  display: flex;
  flex-direction: row;
  gap: 90px;
}

#btn{
  display: flex;
  justify-content: center;
}

button{
  width: 200px;
  border-radius: 10px;
  background: linear-gradient(90deg, #551466,#000000);
  font-size: 20px;
}








