<nav class="navbar">

  <div class="logo">
    <img src="assets/workguru-icon.png" alt="WorkGuru Logo">
    <a id ="workguru" href="/home">WorkGuru</a>
  </div>

  <div id="buttons">
    <button class="dropbtn" severity="info" (click)="login()">Login</button>
    <div class="dropdown">
      <button class="dropbtn">Registrar</button>
      <div class="dropdown-content">
        <a href="/candidates/new">Sou candidato</a>
        <a href="/enterprises/new">Sou empresa</a>
      </div>
    </div>
  </div>




</nav>
