<div>
  <header>
      <nav>
        <img src="assets/ifitness_logo.jpg" alt="Logo do IFitness">
        <div>
          <button severity="info" (click)="login()">Login</button>
          <a pButton routerLink="/jobs/new">Cadastre-se</a>
        </div>
      </nav>
  </header>

  <main>
      <h1>Comece a se movimentar!</h1>
      <p>Registre suas atividades, acompanhe seu progresso e inspire-se.</p>
      <img src="assets/ifitness_logo.jpg" alt="Logo do IFitness" class="img-main">
  </main>

  <footer>
      <p>&copy; 2024 WorkGuru. Todos os direitos reservados.</p>
  </footer>
</div>
