<div class="header">
  <div id="img">
    <img src='assets/level_icon.png'>
    <strong><h1>{{candidate.name}}</h1></strong>
    <a [routerLink]="['/candidates/update', candidate.id]" class="p-button p-button-icon-only">
      <i class="pi pi-pen-to-square"></i>
    </a>
  </div>
  <div id="footer">
    <p></p>
    <p>{{candidate.address.city}}, {{candidate.address.state}}</p>
  </div>
</div>

<br>

<div class="container">
  <div>
    <strong><p>Formação Acadêmica:</p></strong>
    <p>Nome da Instituição:</p>
    <p>Nome do Curso:</p>
    <p>Nível:</p>
    <p>Concluído em: {{graduation?.finish}}</p>
    <iframe *ngIf="showIframe" src="/graduations/new" width="100%" height="294px" frameborder="0"></iframe>
    <a href="#" (click)="toggleIframe(); $event.preventDefault();">Adicionar nova formação</a>
  </div>
  <div>
    <strong><p>Histórico Profissional:</p></strong>
    <a href="">Adicionar novo histórico profissional</a>
  </div>
  <div>
    <strong><p>Sobre:</p></strong>
    <p></p>
  </div>

</div>
