<div class="header">
  <div id="img">
    <img src='assets/level_icon.png'>
    <strong><h1>{{candidate.name}}</h1></strong>
    <a [routerLink]="['/candidates/update', candidate.id]" class="p-button p-button-icon-only">
      <i class="pi pi-pen-to-square"></i>
    </a>
  </div>
  <div>
    <p></p>
  </div>
</div>

<br>

<div class="container">
  <div>
    <strong><p>Formação Acadêmica:</p></strong>
    <p>Abublé</p>
  </div>
  <div>
    <strong><p>Histórico Profissional:</p></strong>
    <p>Lucasond</p>
  </div>
  <div>
    <strong><p>Sobre:</p></strong>
    <p>Xurulamps</p>
  </div>

</div>
